<div class='container'>
    <div class="card">
        <h1 class='answer-title'>Stupid Coaching</h1>
        <div class='coachs-answers'>
            <p><%=@answer%></p>
            <p><%=@message%></p>
        </div>
    </div>
</div>