<div class='container'>
    <h1>Ask a Question</h1>
    <div class="card">
        <form action="/answer">
        <input class='input-info' type="text" name="question">
        <input class='submit-btn' type="submit" value="Ask!">
        </form>
    </div>
</div>